# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated dirs
dist

# Nuxt
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify

# Env
.env

# Testing
reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
playground/.vercel/

wordpress/files/
playground/schema.graphql
playground/queries/
examples/yoastseo/test-src/queries/
examples/yoastseo/test-src/schema.graphql
tests/fixtures/basic/queries/
tests/fixtures/basic/schema.graphql
playground/.eslintcache
docs/.eslintcache
examples/yoastseo/.eslintcache
