# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated dirs
dist

# Nuxt
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify

# Env
.env

# Testing
reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
playground/.vercel/

wordpress/files/
playground/schema.graphql
playground/queries/Menu.gql
playground/queries/Page.gql
playground/queries/Pages.gql
playground/queries/Post.gql
playground/queries/PostByUri.gql
playground/queries/Posts.gql
playground/queries/Revisions.gql
playground/queries/Settings.gql
playground/queries/Viewer.gql
playground/queries/fragments/ContentNode.fragment.gql
playground/queries/fragments/CoreGallery.fragment.gql
playground/queries/fragments/CoreImage.fragment.gql
playground/queries/fragments/CoreParagraph.fragment.gql
playground/queries/fragments/CoreQuote.fragment.gql
playground/queries/fragments/EditorBlock.fragment.gql
playground/queries/fragments/MediaItem.fragment.gql
playground/queries/fragments/NodeWithExcerpt.fragment.gql
playground/queries/fragments/NodeWithFeaturedImage.fragment.gql
playground/queries/fragments/NodeWithFeaturedImageToMediaItemConnectionEdge.fragment.gql
playground/queries/fragments/Page.fragment.gql
playground/queries/fragments/Post.fragment.gql
examples/yoastseo/schema.graphql
